@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500;700&display=swap');

html {
  font-family: Montserrat, sans-serif;
  font-size: 18px;
  background-color: hsl(180, 12%, 71%);
}

h1 {
  text-align: center;
  background-color: white;
  border-radius: 12px;
  padding: 20px;
  margin: 20px 0;
}

.button-container {
  display: flex;
  flex-wrap: wrap;
  gap: 20px; /* Adjust the gap between buttons */
  justify-content: center; /* Center the buttons in the container */
  padding: 20px;
}

.button {
  text-decoration: none;
  color: rgb(0, 0, 0);
  padding: 20px;
  text-align: left;
  background-color: white;
  border-radius: 12px;
  flex: 1 1 calc(33% - 40px); /* Adjust percentage based on desired number of columns */
  box-sizing: border-box;
  max-width: 200px;
  text-align: center;
}

.cityButton:hover {
  background-color: rgb(203, 203, 203);
}

.dangerButton {
  text-decoration: none;
  color: rgb(0, 0, 0);
  padding: 20px;
  text-align: left;
  background-color: white;
  border-radius: 12px;
  cursor: pointer;
  display: inline-block;
}

.dangerButton:hover {
  background-color: rgb(255, 84, 84);
  color: white;
}

.hover-text {
  text-align: center;
  margin-top: 20px;
}
